/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* css reset */

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

/* css variables */

:root {
	--container-width-sm: 94%;
	--container-width-md: 90%;
	--container-width-lg: 80%;
	--transition: all 300ms ease;
}

/* general tags */

body {
	font-family: 'Poppins', sans-serif;
	color: #000;
}

section {
	height: 100%;
	padding: 1rem 0;
	background: linear-gradient(
		90deg,
		rgb(255, 255, 255) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}

input {
	padding: 1rem 8rem 1rem 1rem;
	margin-right: 0.8rem;
	font-size: 0.8rem;
	border: 2px solid #94a3b8;
	background-color: transparent;
}

input::placeholder {
	color: #94a3b8;
}

/* reusable tags */

.container {
	margin: 0 auto;
}

.btn {
	display: inline-block;
	padding: 1rem 3rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	letter-spacing: 0.08rem;
	color: #fff;
	border: 2px solid #000;
	background-color: #000;
	cursor: pointer;
	transition: var(--transition);
}

.btn:hover {
	border-color: #db2777;
	background-color: #db2777;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

/* .btn {
	display: inline-block;
	padding: 0.5rem 2.5rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	border-radius: 50px;
	transition: var(--transition);
	cursor: pointer;
} */

/* .btn:hover {
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	transform: scale(1.05);
} */

/* nav */

nav {
	width: 100vw;
	height: 4.5rem;
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 11;
}

.nav-container {
	width: var(--container-width-lg);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-menu {
	display: flex;
	align-items: center;
	gap: 2.5rem;
}

.nav-menu a {
	color: #000;
	transition: var(--transition);
}

.nav-menu a:hover {
	color: #4d7c0f;
}

.nav-logo a:hover {
	color: #000;
}

.nav-logo {
	margin: 0 2.5rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
}

.nav-link {
	font-weight: 400;
	font-size: 0.8rem;
}

/* javascript - window scroll */

.window-scroll {
	background-color: #f5f5f5;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	transition: all 500ms ease;
}

/* header */

header {
	height: 90vh;
	position: relative;
	top: 4.5rem;
	background-image: url('../assets/bg-header.jpg');
}

.header-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20rem;
}

.header-info {
	margin-left: 5rem;
}

.header-time-tips {
	margin-bottom: 0.8rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	letter-spacing: 0.08rem;
	color: #525252;
}

.header-time {
	display: flex;
	align-items: center;
}

.header-tips {
	display: flex;
	align-items: center;
}

.header-time i,
.header-tips i {
	margin-right: 0.3rem;
	font-size: 1rem;
}

.header-title {
	width: 70%;
	margin-bottom: 0.8rem;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 3rem;
}

.header-text {
	width: 50%;
	margin-bottom: 2rem;
	font-weight: 400;
	font-size: 1rem;
	color: #737373;
}

.header-post {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header-post-user {
	width: 50px;
	height: 50px;
}

.header-post-user img {
	width: 100%;
	border-radius: 50px;
}

.header-post-info h4 {
	margin-bottom: 0.3rem;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.08rem;
	color: #525252;
}

.header-post-info h5 {
	font-size: 0.7rem;
	font-weight: 500;
	letter-spacing: 0.08rem;
	color: #737373;
}

/* subscribe */

.subscribe-container {
	width: var(--container-width-lg);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	position: relative;
	top: -0.2rem;
	padding: 2rem;
	font-family: 'Merriweather', serif;
	font-size: 1.2rem;
	color: #000;
	background-color: #fdf2f8;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.subscribe-container span {
	text-decoration: underline;
}

.section-conteiner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	width: 60% auto;
	margin: 50px 0;
	font-family: "Merriweather", serif;
}

.section-image{
	width: 250px;
}

.section-image img {
	width: 250px;
	height: 350px;
}

.conteiner-com p {
	font-size: 10px;
}

.time-conteiner {
	display: flex;
	justify-content:start ;
	align-items: center;
	gap: 20px;
}

.conteiner-com {
	display: flex;
	justify-content: left;
	padding: 5px 0;
	margin-left: 2px;
}

.conteiner-com i {
	display: flex;
	justify-content: left;
	font-size: 10px;
	margin-right: 5px;
}
.baked-conteiner{
	width: 100%;
	font-size: 18px;
	font-weight: 600;
}

