/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* css reset */

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

/* css variables */

:root {
	/* dimensions */
	--container-width-sm: 94%;
	--container-width-md: 90%;
	--container-width-lg: 80%;
	/* transition */
	--transition: all 300ms ease;
}

/* general tags */

body {
	font-family: 'Poppins', sans-serif;
	color: #000;
}

nav {
	width: 100vw;
	height: 4.5rem;
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 11;
}

header {
	height: 90vh;
	position: relative;
	top: 4.5rem;
	background-image: url('../assets/bg-header.jpg');
}

section {
	height: 100%;
}

input {
	padding: 1rem 8rem 1rem 1rem;
	margin-right: 0.8rem;
	font-family: 'Poppins', sans-serif;
	font-size: 0.8rem;
	border: 2px solid #a3a3a3;
	background-color: transparent;
}

input::placeholder {
	font-family: 'Poppins', sans-serif;
	color: #a3a3a3;
}

/* reusable classes */

.container {
	margin: 0 auto;
}

.btn {
	display: inline-block;
	padding: 1rem 3rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	letter-spacing: 0.08rem;
	color: #fff;
	border: 2px solid #000;
	background-color: #000;
	cursor: pointer;
	transition: var(--transition);
}

.btn:hover {
	border-color: #db2777;
	background-color: #db2777;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

/* nav */

.nav-container {
	width: var(--container-width-lg);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-menu {
	display: flex;
	align-items: center;
	gap: 2.5rem;
}

.nav-logo {
	margin: 0 2.5rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
}

.nav-link {
	font-weight: 500;
	font-size: 0.8rem;
}

.nav-logo a:hover {
	color: #db2777;
}

.nav-link a:hover {
	color: #4d7c0f;
}

/* javascript - window scroll */

.window-scroll {
	background-color: #f1f5f9;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	transition: all 500ms ease;
}

/* header */

.header-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20rem;
}

.header-info {
	margin-left: 5rem;
}

.header-title {
	width: 70%;
	margin-bottom: 0.8rem;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 3rem;
}

.header-text {
	width: 58%;
	margin-bottom: 1rem;
	font-weight: 400;
	font-size: 1rem;
	color: #a3a3a3;
}

.header-link {
	max-width: 20%;
	display: block;
	margin-bottom: 2rem;
	color: #4d7c0f;
	transition: var(--transition);
}

.header-link:hover {
	color: #db2777;
}

.header-post {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header-post-user {
	width: 50px;
	height: 50px;
}

.header-post-user img {
	width: 100%;
	border-radius: 50px;
}

.header-post-info h4 {
	margin-bottom: 0.3rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 0.8rem;
	letter-spacing: 0.08rem;
	color: #737373;
}

.header-post-info h5 {
	font-size: 0.7rem;
	font-weight: 500;
	letter-spacing: 0.08rem;
	color: #a3a3a3;
}

/* subscribe */

.subscribe {
	padding: 4rem 0;
	margin-top: 4.5rem;
	background-color: #84cc16;
	box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.subscribe-container {
	width: var(--container-width-lg);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6rem;
	padding: 2rem;
	background-color: #fff;
}

.subscribe-container h3 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 1.2rem;
}

.subscribe-container span {
	text-decoration: underline;
}

/* recipes */

.recipes {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	padding: 3rem 0;
}

.recipes-container {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
}

.recipe-card {
	text-align: left;
	overflow: hidden;
}

.recipe-img {
	margin-bottom: 1rem;
}

.recipe-img img {
	width: 90%;
	border-radius: 15px;
}

.recipe-title {
	width: 90%;
	font-family: 'Merriweather', sans-serif;
	font-size: 0.8rem;
}

.recipe-link {
	display: block;
	margin-top: 1rem;
	color: #db2777;
	transition: var(--transition);
}

.recipe-link:hover {
	color: #4d7c0f;
}

/* multiple classes */

.nav-logo a,
.nav-link a {
	color: #000;
	transition: var(--transition);
}

.header-time-tips,
.recipe-time-dif {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.8rem;
	font-family: 'Raleway', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 0.08rem;
	color: #737373;
}

.header-time-tips-wrap,
.recipe-time-dif-wrap {
	display: flex;
	align-items: center;
}

.header-time-tips-wrap i,
.recipe-time-dif-wrap i {
	margin-right: 0.3rem;
	font-size: 0.7rem;
}

.header-link i,
.recipe-link i {
	margin-left: 0.3rem;
}

.footer-conteiner {
	display: flex;
	align-content: center;
	margin: 0;
	border-top: gray solid 1px;
	background-color: gray;
}

.footer-section{
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}

.footer-header h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
}

.footer-header h4{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}

.footer-section {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.footer-text{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}

.social-midia-conteiner ul{
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 30px;
	font-size: 20px;
	text-decoration: none;
	color: inherit;
}

.social-midia-conteiner a {
	color: #000;
}

.footer-end{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}

.footer-end-div i{
	font-size: 12px;
}

.footer-end-div p{
	font-size: 12px;
}

.footer-end-div{
	display: flex;
	align-items:center;
	gap: 10px;
	margin-left: 60px;
}

.footer-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	margin-right: 60px;
	height: 40px;
	color: inherit
}

.footer-nav a {
	color: #000;
}

.footer-nav a:hover {
	color: #000;
	font-weight: bolder;
	transition: var(--transition);
}

	/* media queries */
	
@media screen and (max-width: 1650px) {
	.header-wrapper {
		gap: 10rem;
	}

	.header-title {
		width: 90%;
	}

	.header-text {
		width: 80%;
	}

	.recipe-title {
		width: 100%;
		font-size: 0.7rem;
	}
}

@media screen and (max-width: 1533px) {
	.subscribe-container {
		flex-direction: column;
		gap: 2rem;
	}

	.subscribe-container h3 {
		font-size: 1.5rem;
	}

	.recipes-container {
		gap: 2rem;
	}
}

@media screen and (max-width: 1533px) {
	.recipes-container {
		gap: 1.5rem;
	}
}

@media screen and (max-width: 1260px) {
	.header-wrapper {
		grid-template-columns: 1fr;
		padding: 2rem 0;
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	}

	.divider {
		display: none;
	}

	.header-text {
		color: #737373;
	}

	.recipe-time-dif {
		font-size: 0.7rem;
		gap: 0.5rem;
	}

	.recipe-title {
		font-size: 0.6rem;
	}
}

@media screen and (max-width: 1121px) {
	.recipes {
		margin: 0 auto;
	}

	.recipes-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem 0;
		justify-items: center;
	}

	.recipe-card {
		max-width: 80%;
		align-items: center;
		text-align: center;
	}

	.recipe-time-dif {
		justify-content: center;
	}
}

@media screen and (max-width: 1050px) {
	.subscribe-input {
		display: flex;
		justify-content: center;
	}
}